	
*{
	margin:0;padding:0;
}

body{
	width:960px;
	margin:0 auto;
	font-family: Verdana;
	background:url(images/banner_solar.jpg) repeat fixed;
	
}

p{

	font-size: 11pt;
    color: #193C58;
    line-height: 20px;
	text-align:justify;
	font-style:italic;
}

a{
text-decoration: none;
	font-size: 11pt;
	font-style: italic;
}

.fix{overflow:hidden;}

.main_area{
    background: #F6F6F6;
	margin-top: 20px;
margin-bottom: 20px;
border-radius: 16px;
}
.header_area{
	background:url(images/header_bg.png) repeat-x ;
	border-bottom: 1px solid white;
}
.header_left{
	width: 65%;
    margin-right: 10px;
    float: left;
}

.main_menu{
	margin-left: 46px;
    border-left: 1px solid #ccc;
}
.main_menu ul{}
.main_menu ul li{
list-style: none;
float: left;
padding: 20px;
border-right: 2px solid white;
border-bottom: 1px solid white;
}
.main_menu ul li a{
	text-decoration: none;
font-size: 17px;
color: #666;
font-style: normal;
}

.main_menu ul li:hover{
	background:#EAEAEA;
}
.main_menu ul li a:hover{
	color:#2E98CA;
}

.header_right{
    width: 33%;
    float: left;
	margin-top: 17px;
}
.search_box{
    width: 236px;
    height: 25px;
    padding: 4px;
    border-radius: 12px;
	border: none;
    margin-right: 10px;
}
.search_button{
	background: #FBFBFB;
    padding: 8px 11px;
    border: none;
    border-radius: 14px;
	cursor: pointer;
}




/*=============================
		Banner & Content Style
=============================*/

.banner_area {
	padding: 30px;
	background: #F1F1F1;
	border-bottom: 1px solid #D9D9D9;
}

.banner_top{
	    margin-bottom: 35px;
}
.banner_top img{
	    float: left;
    margin-right: 15px;
	width: 50%;
	border: 4px solid #c0a58d;
}
.banner_top p{
	padding-left: 90px;
margin-top: 50px;
font-size: 31px;
font-style: normal;
font-family: Algerian;
color: black;

}

.banner_bottom{}

.banner_bottom_left{
	   width: 55%;
    float: left;
    background: #fff;
    padding: 0px;
    margin-right: 25px;
    border-radius: 7px;
}
.banner_bottom_left img{
	width:100%;
}

.banner_bottom_right h2{
	    color: #0087C7;
    border-bottom: 2px solid #fff;
    margin-bottom: 10px;
    padding-bottom: 5px;
    width: 290px;
}

.Solar-System{
	width: 100%;
border: 3px solid navy;
	margin-bottom: 20px;
}

.Solar-System_2{
	width: 50%;
border-radius: 212px;
margin-left: 166px;
margin-bottom: 20px;
}

.main_content{
border-top: 1px solid #fff;
padding: 25px;
}
.left_menu{
margin-right: 15px;
float: left;
width: 19%;
}

.left_menu ul{}
.left_menu ul li{
  padding: 15px;
background: #0D0D0D;
border: 3px solid white;
border-radius: 10px;
margin-bottom: 15px;
}

.left_menu ul li a{
	margin-left: 38px;
	color: white;
}
 
.left_menu ul li:hover{
background: #6A8799;
}

.left_menu ul li a:hover{
	color: navy;
}

.content_left_pic{
	width: 100%;
border-radius: 7px;
margin-bottom: 5px;
height: 800px;
}

.main_content_right{
width: 73%;
float: left;
border-radius: 25px;
padding: 26px;
margin-left: -6px;
margin-bottom: 22px;
}
.main_content_right h2{
color: #666666;
font-size: 24px;
font-weight: normal;
margin-bottom: 15px;
font-style: oblique;
}
.main_content_right p{
margin-bottom: 19px;
}
.inside_p{
    color: #C73100;
font-style: italic;
}


.footer{
width: 95%;
padding: 20px;
border: 2px solid #989898;
border-radius: 17px;
margin-left: 1px;
}

/*=============================
		Gallery Style
=============================*/

.gallery_head{
	font-size: 33px;
color: #609393;
margin-left: 196px;
}

.content{
padding: 2px;
float: right;
margin-bottom: 20px;
width: 78%;
}

.gallery_pics{
	
    margin-top: 16px;
}

.gallery_pics img{
width: 47%;
float: left;
margin-left: 11px;
margin-right: 8px;
margin-bottom: 17px;
height: 200px;
border-radius: 12px;
}

.nextpage{
	background: lightblue;
padding: 10px;
border-radius: 7px;
margin-left: 261px;
}

/*=============================
	    Planents Pics
=============================*/

.planets_pics{}

.planets_pics img{
width: 36%;
margin-left: 198px;
margin-top: 20px;
margin-bottom: 20px;
border-radius: 220px;
}

/*=============================
	    Objects Pics
=============================*/

.objects_pics{}

.objects_pics img{
	margin-left: 163px;
width: 44%;
border-radius: 20px;
}


/*=============================
	        About
=============================*/

.about_me{
width: 35%;
float: left;
margin-top: 20px;
}

.about_me img{
width: 100%;
height: 560px;
border-radius: 25px;
float: left;	
}

.about_content{
float: left;
margin: 20px;
width: 39%;	
}

.contact_images{
width: 117%;
padding: 20px;	
}


.under_link_img{
width: 94px;
padding: 18px;
border-radius: 41px;
}


/*=============================
	       Planets
=============================*/


.planets{
	
}

.planets img{
width: 50%;
margin-left: 122px;
margin-top: 20px;
}









