#header{
	position:relative;
	height:150px;
	width:800px;
	background:green;}

#headlogo{
	position:absolute;
	top:0;
	left:0;
	height:150px;
	width:150px;
	background:#003300;}
	
#pagetitle{
	position:absolute;
	top:0;
	left:150px;
	height:150px;
	width:650px;
	background:red;
	}