

h2 {
	position:relative;
	left:30px;
	top:40;
	}
	
p1{
	position:relative;
	left:-10;
	top:-15;
	}
b{
	position:absolute;
	top:10;
	left:18;}
	
#abs{
	position:relative;
	left:30;
	}
#js_2{
	width:780px;
	height:auto;
	background-color:#99CC66;
	position:relative;
	margin-top:25px;
	}