body{
    margin: 0 0 0 0
}
#wrapper{
    height: 100%;
    width: 100%;
    background-color: chartreuse;
}
#container{
    margin: 0 auto;
    width: 960px;
    height: auto;
    background-color: dodgerblue;
}
#banner{
    width: inherit;
    height: 100px;
}