body {
    margin: 0 0 0 0;
}
#wrapper {
    width: 100%;
    height: 100%;
    background-color: aqua;
}
#me {
    height: 70px;
    width: 70px;
    border-radius: 20%;
    margin-top: 170px;
    margin-right: 250px;
    margin-left: 950px;
    background-color: chartreuse;
    float: right;
    position: absolute;
}
#containt {
    width: 500px;
    height: auto;
    background-color: black;
    margin: 0 auto;
}
#logo {
    width: 500px;
    height: 100px;
    background-color: blueviolet;
}
#manubar {
    height: 50px;
    width: 500px;
    background-color: lightskyblue;

}
.Home {
    width: 95px;
    height: 50px;
    background-color: chartreuse;
    float: left;
    line-height: 50px;
    margin-left: 5px;
}
.Service {

    width: 100px;
    height: 50px;
    float: left;
    line-height: 50px;
}
.Insurance {
    width: 100px;
    height: 50px;
    float: left;
    line-height: 50px;
}
.Aboutus {
    width: 100px;
    height: 50px;
    float: left;
    line-height: 50px;
}
.Contactus {
    width: 100px;
    height: 50px;
    float: left;
    line-height: 50px;
}
#ship {
    width:500px;
    height:200px;
    background-color: transparent;
}
#Title {
    width: 500px;
    height: 70px;
    background-color: aliceblue;
}
#china {
    width: 500px;
    height: 120px;
    margin: 0 10 0 10;
    background-color: aliceblue;
}
#As {
    width:500px;
    height: 180px;
    background-color: aliceblue;
}
#Read {
    width: 500px;
    height: 50px;
    background: aliceblue;
}
#Footer {
    width: 500px;
    height: 70px;
    background: deepskyblue;
}