body{margin: 0 auto}

body {
    margin: 0 0 0 0;
}

#wrapper{
    height: 100%;
    width: 100%;
    background-color: crimson;
}

#container{
    margin: 0 auto;
    height: auto;
    width: 1200px;
    background-color: black;
}

#banner{
    height: 200px;
    width: inherit;
}

#Menubar{
    height: 48px;
    width: inherit;
    background-color: lime;
}
