
.Menu{
    padding-top: 16px;
    height: 50px;
    width: 200px;
    float: left;
}

#tracklist{
    background-color: cyan;
    height: 355px;
    width: inherit;

}

.list1{
    height: inherit;
    width: 400px;
    float: left;
}

.listhead1{

    line-height: 30px;
    height: 30px;
    width: 400px;
}

.list4{
    padding-left: 20px;
    line-height: 30px;
    height: 30px;
    width: 400px;
}

.list5{
    padding-right: 20px;
    line-height: 30px;
    height: 30px;
    width: 400px;
}

#albumlist{

    height: 250px;
    width: inherit;
    background-color: aqua;
}

.list2{
    height: inherit;
    width: 300px;
    float: left;
}

#footer{
    height: 80px;
    width: inherit;
    color: white;
}
.last{
    height: inherit;
    width: inherit;
}