body {
    margin: 0 0 0 0;
}

#wrapper{
    height: 2000px;
    width: 100%;
    background-color: lightcoral;
}

#container{
    margin: 0 auto;
    height: auto;
    width: 1200px;
    background-color: chartreuse;
}

#banner{
    height: 200px;
    width: inherit;
}

#Menubar{
    padding-top: 16px;
    height: 50px;
    width: inherit;
    background-color: darkgreen;
}

.Menu{

    height: 50px;
    width: 200px;
    float: left;
}

#tracklist{
    background-color: crimson;
    height: 250px;
    width: inherit;

}

.list1{
    height: inherit;
    width: 400px;
    float: left;
}

.listhead1{
    height: 30px;
    width: 400px;
}

#albumlist{
    height: 250px;
    width: inherit;
    background-color: aqua;
}

.list2{
    height: inherit;
    width: 300px;
    float: left;
}

#footer{
    height: 80px;
    width: inherit;
    color: white;
}
.last{
    height: inherit;
    width: inherit;
}