body{margin: 0 0 0 0}
#Wraper {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    background-color: aqua;
    margin: 0 auto;
}
    #container{
        width: 800;
        height: 1000;
    }
    #banner {
        height: 250px;
        width: inherit;
        background-color: aquamarine}
    #Menubar{
        width: inherit;
        height: 70px;
        background-color: chartreuse;
    }
    #slide {
        width: inherit;
        height: 300px;
        background-color: dodgerblue;
    }