body{margin: 0 0 0 0}
#Wraper {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    background-color: aqua;
    margin: 0 auto;
}
    #container{
        width: 800px;
        height: 1000px;
    }
    #banner {
        height: 160px;
        width: inherit;
        background-color: aquamarine;
    }
    #Menubar{
        width: inherit;
        height: 35px;
        background-color: chartreuse;
    }
    #Home{
        width: 100px;
        height: 35px;
        background-color: azure;
    }
    #slide {
        width: inherit;
        height: 400px;
        background-color: dodgerblue;
    }
    #Center{
        Width: inherit;
        height: 250px;
       background-color: antiquewhite;
    }
    #Copyright{
        Width: inherit;
        Height: 100px;
        background-color: black;
    }
