body {
    width: 100%;
    margin: 0 auto;
    font-family: Verdana;
    background: url("../../images/banner_solar.jpg");
}
#wrapper {
    background-color:#84ff41;
    margin: 0 auto;
    border-radius: 16px;


}