body {
    margin: 0 0 0 0;
}
#wrapper {
    width: 100%;
    height: 100%;
    background-color: black;
}
#containt {
    margin: 0 auto;
    width:960px;
    height: auto;
    background-color: aqua;
}
#banner {
    width: 960px;
    height: 150px;
    background-color: green;
}
.logo {
    width: 300px;
    height: 150px;
    background-color: dimgray;
    float: left;
}
.slogan {
    width:660px;
    height: 150px;
    background-color: gold;
    float: right;
}
#manubar {
    width: 960px;
    height: 100px;
    background-color: bisque;
    float: left;
}
.Home {
    width: 240px;
    height: 100px;
    background-color: aliceblue;
    float: left;
}
.Service {
    width: 240px;
    height: 100px;
    background-color: bisque;
    float: left;
}
.Place {
    width: 240px;
    height: 100px;
    background-color: blue;
    float: left;
}
.Contactus {
    width: 240px;
    height: 100px;
    background-color: transparent;
    float: left;
}
#picture {
    width: 960px;
    height: 250px;
    background-color: white;
}
#slash {
    width: 960px;
    height: 300px;
    background-color: tomato;
}
#footer {
    width:inherit;
    height: 100px;
    background-color: darkgreen;
}

