body{
    margin: 0 0 0 0;
}
#wraper{
    height: 100%;
    width: 100%;
    background-color: aqua;
}
#container{
    margin: 0 auto;
    height: auto;
    width: 1200px;
    background-color: white;
}
#boxone{
    margin: 0 auto ;
    height: auto;
    width: 1000px;
    background-color: white;
}
#boxtwo{
    margin: 0 auto ;
    height: auto;
    width: 1000px;
    background-color: white;
}
#boxthree{
    margin: 0 auto ;
    height: auto;
    width: 1000px;
    background-color: white;
}