body{margin: 0 0 0 0}
#Wraper {
    position: relative;
    float: left;
    width: auto;
    height: auto;
    background-color: chartreuse;
}
#container{
    width: 100%;
    height: auto;
    background-color: chartreuse;
}
#Banner{
    width: inherit;
    height: 200px;
    background-color: chartreuse;
}
#Menubar{
    width: inherit;
    height: 35px;
}