body{
    margin: 0 0 0 0;
}
#wrapper{
    width: 100%;
    height: 100%;
    background-color: brown;
}
#container{
    margin: 0 auto;
    width: 960px;
    height: auto;
    background-color: gainsboro;

}
#banner{
        width: 960px;
        height: 200px;
        background-color: black;
}
    .logo{

        width: 200px;
        height: 200px;
        background-color: antiquewhite;
        float: left;
    }
    .banner_slide{
        width: 760px;
        height: inherit;
        background-color: aquamarine;
        float: left;

    }
#menubar{
    height:50px ;
    width: inherit;
    background-color: #3DB5FE;

}
.menu{
    height: inherit;
    width: 192px;
    padding-top: 15px;
    text-align: center;
    background-color: cadetblue;
    float: left;

}